{% extends 'myapp/base.html' %}

{% block content %}
<div class="text-center">
    <button class="btn btn-success col" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add New Talk</button>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="col-sm-12 container">
        <h4 class="alert alert-info">Add a new Talk</h4>
        <form class="form-control" method="POST">
            {% csrf_token %}
            {{ talkviewform }}
            <p></p>
            <input type="submit" class="btn btn-success " value="Add" id="add">
        </form>
    </div>
  </div>
</div>
<div class="container mt-3">
    <h4 class="alert alert-info text-center">
        Here is the list of Talks under this conference 
    </h4>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Talk Title</th>
                <th scope="col">Talk Description</th>
                <th scope="col">Room No.</th>
                <th scope="col">Projector No.</th>
                <th scope="col">Talk Duration</th>
                <th scope="col">Talk Time</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for talkss in conferencetalks %}
            <tr>
                <td><a href="{% url 'members' talkss.talk_title %}">{{ talkss.talk_title }}</a></td>
                <td>{{ talkss.talk_description }}</td>
                <td>{{ talkss.room_number }}</td>
                <td>{{ talkss.projector_number }}</td>
                <td>{{ talkss.talk_duration }}</td>
                <td>{{ talkss.talk_time }}</td>
                <td>
                    <a href="{% url 'talkedit' talkss.talk_title %}" class="btn btn-danger btn-sm">Edit</a>
                    <form action="{% url 'talkdelete' talkss.talk_title %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
